body {
	background-color: #c5cae9;
	color: black;
}

.navbar {
	position: fixed;
	top: 0;
	right: 0;
	left: 0;
	height: 60px;
	line-height: 60px;
	background-color: #1a237e;
	z-index: 3000;
	padding: 0 1em;
	font-size: 24px;
}

.navbar a,.navbar a:link,.navbar a:visited,.navbar a:hover,.navbar a:active {
	color: black;
	text-decoration: none;
}

.nav ul, .nav ol {
	list-style-type: none;
}

.logo {
	float: left;
	line-height: 60px;
}

#opener {
	line-height: 60px;
	text-align: right;
}
#opener img {
	width: 24px;
	height: 24px;
}

.main {
	position: relative;
	top: 60px;
	padding: 1em;
	max-width: 800px;
	margin: 0 auto;
}

.sidebar {
	position: fixed;
	top: 0;
	right: -300px;
	bottom: 0;
	width: 300px;
	background-color: #283593;
	z-index: 3001;
	color: white;
}

.sidebar a,.sidebar a:link,.sidebar a:visited,.sidebar a:hover,.sidebar a:active {
	color: black;
	text-decoration: none;
}

.nav-sidebar ul li {
	padding: 1em 0;
}