// CONTACS

#contacs {
	font-size: 18px;
	
	#{$links} {
		color: $baseFont !important;
	}
}

input {
	padding: .5em;
	
	&[type=text], &[type=number], &[type=email] {
		padding: .5em;
		background-color: inherit;
		color: inherit;
		border: 0;
		border-bottom: 3px solid !important;
	}
	
	&[type=number] {
		-moz-appearance: textfield;
	}
}

::-webkit-inner-spin-button {
	-webkit-appearance: none;
}
::-webkit-outer-spin-button {
	-webkit-appearance: none;
}

input, textarea {
	outline: 0;
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	-moz-box-sizing: border-box;    /* Firefox, other Gecko */
	box-sizing: border-box;         /* Opera/IE 8+ */
}

textarea{
	padding: 1em;
	resize: none;
}


.contact {
	display: table;
	width: 100%;
}

.contact-info, .contact-message {
	padding: 1em;
	position: relative;
}

@media all and (min-width: 768px) {
	.contact-info, .contact-message {
		display: table-cell;
	}
}

.contact-info {
	max-width: 300px;
}

.contact-info-input {
	margin-bottom: 1em;
	
	input {
		width: 100%;
	}
}

.contact-message {
	textarea {
		width: 100%;
		min-height: 285px;
		background-color: $accentColor;
		color: $accentFont;
		border: 4px double;
		@include border-radius(2px);
	}
}

.contact-send {
  margin: 1em;
  
	input {
		border: 1px outset black;
		min-width: 120px;
		@include border-radius(2px);
		-webkit-box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.75);
		-moz-box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.75);
		box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.75);
		
		&[type=reset] {
			margin-right:1em;
			background-color: $lighterColor;
			color: $lighterFont;
		}
		
		&[type=submit] {
			background-color: $accentColor;
			color: $accentFont;
		}
		
		&:hover, &:active {
			-webkit-box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.75);
			-moz-box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.75);
			box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.75);
	     }
	}
}

@media all and (max-width: 768px) {
	.contact-send {
		text-align: center;
	}
}
