// PRODUCTS
#product-list {
	text-align: center;
}

.product {
	background-color: $accentColor;
	margin-bottom: 1em !important;
}

.product-picture {
	background-color: inherit;
}

.product-title {
	margin-bottom: .5em;
	height: 60px;
	color: $accentFont;
	
	* {
		margin: 0;
		padding: 0;
		line-height: 60px;
	}
}

@media all and (min-width: 321px) {
	.product {
		width: 320px;
		margin: .5em auto;
	}
	.product-picture {
		height: 320px;
	}
}

@media all and (min-width: 640px) {
	.product {
		width: 240px;
		margin: 1em;
		display: inline-block;
	}
	.product-picture {
		height: 240px;
	}
}

@mixin product-size($min-width, $newsize){
  @media all and (min-width: $min-width) {
    .product {
  		width: $newsize;
  	}
  	.product-picture {
  		height: $newsize;
  	}
  }
}

@include product-size(768px, 290px);
@include product-size(980px, 240px);
@include product-size(1024px, 220px);
@include product-size(1260px, 280px);
@include product-size(1920px, 300px);

//PRODUCT-FILE
.product-file {
	position: fixed;
	top: 0;
	right: 0;
	left: 0;
	bottom: 0;
	background-color: $baseColor;
	color: $baseFont;
	z-index: 500000000;
	text-align: left;
};

.product-file-nav {
	position: absolute;
	top: 0;
	right: 0;
	left: 0;
	height: $navbarHeight;
	line-height: $navbarHeight;
	font-size: 32px;
	background-color: darken($baseColor, 1%);
	color: $baseFont;
	text-align: right;
}

.product-file-close {
  display: block;
  height: 60px;
  width: 60px;
  line-height: 60px;
  cursor: pointer;
  text-align: center;
  float: right;
}

.product-file-content {
	position: absolute;
	top: 60px;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: $accentColor;
	color: $accentFont;
	max-width: 800px;
	margin: 0 auto;
}

@media all and (min-width: 1920px) {
	max-width: 1024px;
}

.product-file-content-wrap {
	position: relative;
	height: 100%;
	overflow: auto;
}

.product-file-title {
	padding: 1.5em;
	
	h1,h2,h3,h4,h5,h6{
		margin: 0 !important;
	}
}

.product-file-picture {
	max-width: 360px;
	margin: 1em;
	float: left;
}

@media all and (max-width: 360px) {
	.product-file-picture {
		margin: 0 auto;
		float: none;
	}
}

@media all and (min-width: 680px) {
	.product-file-picture {
		float: left;
		margin: 1em;
	}
}

.product-file-description {
	padding: 1em;
}
