* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  background-color: #adb6c4;
}

.app-bar {
  position: sticky;
  top: 0;
  height: 56px;
  display: flex;
  align-items: center;
  background-color: #001b2e;
  color: white;
}

#menu {
  padding-left: 16px;
}

.sidebar {
  background-color: #294c60;
  color: white;
}
