//LISTS
dl {	
	dt {
		font-weight: 700;
	}
	
	dd {
		margin: 0;
		margin-bottom: 8px !important;
		padding: 0;
		
		&:before {
			content: "\2014 \00a0"
		}
	}
}

ul, ol {
  margin: 0;
  margin-bottom: 1em !important;
  padding: 0 1em;
  
  ul, ol {
  	margin-bottom: 0 !important;
  }
}

nav {
	ul, ol {
		list-style: none;
		margin: 0 !important;
	}
}

.unstyle-list {
	list-style: none;
}
