//TEMPLATE

.left {
	float: left;
}

.center {
	margin: 0 auto;
}

.right {
    float: right;
}

.inline-block {
	display: inline-block;
}

.container {
    margin: 0 auto;
}
@media all and (max-width: 320px) {
	.container {
		margin: 0 .5em;
	}
}
@media all and (max-width: 480px) {
	.container {
		margin: 0 1em;
	}
}
@media all and (min-width: 480px) {
	.container {
		margin: 0 1.5em;
	}
}
@media all and (min-width: 768px) {
	.container {
		margin: 0 2.5em;
	}
}
@media all and (min-width: 992px) {
	.container {
		margin: 0 auto;
		max-width: 80%;
	}
}
@media all and (min-width: 1280px) {
	.container {
		max-width: 950px;
	}
}

main, .main {
	padding-bottom: 2em;
}

.main-fixed-top {
    margin-top: $navbarHeight !important;
}

.main-header {
	margin-bottom: 1em;
	padding: 1em 0;
	
	h1 {
		margin-bottom: 1em !important;
	}
}

section, .section {
	margin-bottom: 1em;
}
