//VARIABLES
//- Font
$path2fonts: '../fonts/';
$glyph-name: 'glyphicons-halflings-regular';
$OpenSans: 'Open Sans', sans-serif;
$SourceSansPro: 'Source Sans Pro', consola, 'Courier New', monospace;
$Cookie: 'Cookie', cursive;
$web-fonts-params: (subset: "latin,latin-ext");
$fontSize: 16px;

//
//- Palette
$baseColor: #1a1a1a;
$baseFont: lighten($baseColor, 90);
$baseLink: lighten($baseColor, 60);
$baseLinkHover: lighten($baseColor, 75);

$accentColor: lighten(#1a1a1a, 16);
$accentFont: lighten($accentColor, 70);
$accentLink: lighten($accentColor, 40);
$accentLinkHover: lighten($accentColor, 55);

$lighterColor: lighten(#1a1a1a, 80);
$lighterFont: darken($lighterColor, 100);
$lighterLink: darken($lighterColor, 70);
$lighterLinkHover: darken($lighterColor, 85);

//
//- Navbar
$navbarHeight: 60px;

//
//- Sidebar
$ssb-dataName: 'ssbplugin';
$ssb-wrapper: '[data-' + $ssb-dataName + '="sub-wrapper"]';

//
//others
$links: 'a, a:link, a:visited, a:hover, a:active';
