//Classes

.main {
	position: relative;
}

.icon {
	cursor: pointer;
}

.icon-32 {
	font-size: 32px;
}

.reset-list {
	list-style-type: none;
	padding: 0;
	margin-top: 8pt;
}

.list-inline {
	li {
		display: inline-block;
		padding: 0 2.5pt;
		margin-left: 0;
		
		* {
			display: block;
		}
	}
}

.rounded {
	@include borderRadius(10em);
	
	* {
		@include borderRadius(10em);
	}
}

.left {
	float: left;
}

.center {
	margin: 0 auto;
}

.right {
    float: right;
}

.left-content {
	text-align: left;
}
.center-content{
	text-align: center;
}
.right-content{
	text-align: right;
}

.inline-block {
	display: inline-block;
}

.container {
    margin: 0 auto;
}
@media all and (max-width: 320px) {
	.container {
		margin: 0 .5em;
	}
}
@media all and (max-width: 480px) {
	.container {
		margin: 0 1em;
	}
}
@media all and (min-width: 480px) {
	.container {
		margin: 0 1.5em;
	}
}
@media all and (min-width: 768px) {
	.container {
		margin: 0 2.5em;
	}
}
@media all and (min-width: 992px) {
	.container {
		margin: 0 auto;
		max-width: 80%;
	}
}
@media all and (min-width: 1280px) {
	.container {
		max-width: 950px;
	}
}

main, .main {
	padding-bottom: 2em;
}

.main-fixed-top {
    margin-top: $navbarHeight !important;
}

.main-header {
	text-align: center;
	margin-bottom: 1em;
	padding: 1em 0;
	
	h1 {
		margin-bottom: 1em !important;
	}
}

section, .section {
	margin-bottom: 1em;
}
