//Mixins

@mixin fontSize($size) {
  font-size: $size;
  -ms-text-size-adjust: $size;
  -webkit-text-size-adjust: $size;
}

@mixin borderRadius($radius) {
	-webkit-border-radius: $radius;
	-moz-border-radius: $radius;
	-ms-border-radius: $radius;
	border-radius: $radius;
}

@mixin boxShadow($shadow) {
	-webkit-box-shadow: $shadow;
	-mox-box-shadow: $shadow;
	box-shadow: $shadow;
}
