//PALETTES
$primaryColor: #fff;
$primaryText: #2e2e2e;
$primaryLink: #197bbd;
$accentColor: #084887;
$accentText: #FFF;
$accentLink: #C5EFCB;

// primaryColor
$pLinkHover: darken($primaryLink, 30);
$pLinkActive: darken($primaryLink, 40);

$pMarkColor: $accentColor;

// - Buttons (only primary)
$btnColor: $primaryLink;
$btnText: $accentText;
$btnBorderColor: transparent;
    // - hover
    $btnColorHover: darken($btnColor, 10);
    $btnTextHover: $accentText;
    $btnBorderColorHover: transparent;
    // - active/focus
    $btnColorActFocus: darken($btnColor, 20);
    $btnTextActFocus: $accentText;
    $btnBorderColorActFocus: transparent;

// - Inputs (only primary)
$inpColor: inherit;
$inpText: inherit;
$inpBorderColor: inherit;
    // - hover
    $inpColorHover: inherit;
    $inpTextHover: inherit;
    $inpBorderColorHover: darken($primaryLink, 10) !important;
    // - active/focus
    $inpColorActFocus: inherit;
    $inpTextActFocus: inherit;
    $inpBorderColorActFocus: darken($primaryLink, 20) !important;

// - Navbar
$navbarColor: inherit;
$navbarText: $primaryText;


// - Accent
$aLinkHover: darken($accentLink, 10);
$aLinkActive: darken($accentLink, 20);

$aMarkColor: $primaryColor;

// - Sidebar
$sbColor: $accentColor;
$sbText: $accentText;
$sbLinks: $accentLink;
$sbLinksActive: $aLinkActive;
$sbLinksHover: $aLinkHover;

@import 'theme-format';
