/*SIDEBAR*/

.sidebar {
    position: fixed;
    top: 0;
    bottom: 0;
    width: 300px;
	@include fontSize(12pt);
	
	h1, h2, h3, h4, h5, h6 {
		@include fontSize(14pt);
		margin: 8pt 0 3pt 0 !important;
		padding: 0 !important;
	}
	
	#{$links} {
		@include fontSize(inherit);
	}
}

.sidebar-right {
	right: -$sidebarWidth;
	@include boxShadow((-3px 0px 3px 0px rgba(0, 0, 0, 0.5)))
}

.sidebar-left {
	left: -$sidebarWidth;
	@include boxShadow((3px 0px 3px 0px rgba(0, 0, 0, 0.5)))
}

[data-#{$ssb-dataName}="disabled"] {
	@include boxShadow((0px 0px 0px 0px rgba(0, 0, 0, 0) !important))
}

.sidebar-wrapper {
    position: relative;
    height: 100%;
    overflow-y:  auto;
	overflow-x: hidden;
}

.sidebar-header {
	padding: 1em;
}

.logo-sidebar {
	width: 64px;
	height: 64px;
}

.nav-sidebar {
	ul {
		li {
		    height: 20pt;
		    line-height: 20pt;
			padding: 8pt 16pt;
		}
	}
}

.nav-title {
	font-weight: 400;
	margin: 8pt -5pt -5pt -5pt !important;
}
