//THEME FORMAT
// Format Palette
body, html {
    background-color: $primaryColor;
    color: $primaryText;
}

a {
    color: $primaryLink;
    
    &:link, &:visited {
        color: $primaryLink;
    }
    &:hover {
        color: $pLinkHover;
    }
    &:active {
        color: $pLinkActive;
    }
}

blockquote {
    border-color: $primaryText;
}

mark {
    background-color: $pMarkColor;
}

code, pre {
    background-color: $accentColor;
    color: $accentText;
}

kbd {
    background-color: #616161;
    color: #fafafa;
}

// Inputs

button, input[type=button], input[type=submit], input[type=reset], select {
    background-color: $btnColor;
    color: $btnText;
    border-color: $btnBorderColor;
    
    &:hover {
        background-color: $btnColorHover;
        color: $btnTextHover;
        border-color: $btnBorderColorHover;
    }
    &:active, &:focus {
        background-color: $btnColorActFocus;
        color: $btnTextActFocus;
        border-color: $btnBorderColorActFocus;
    }
}

input[type=text], input[type=email], input[type=date], input[type=datetime], input[type=datetime-local], input[type=month], input[type=number], input[type=password], input[type=search], input[type=tel], input[type=time], input[type=url], input[type=week], textarea {
    background-color: $inpColor;
    color: $inpText;
    border-color: $inpBorderColor;
    
    &:hover {
    background-color: $inpColorHover;
    color: $inpTextHover;
    text-decoration: none !important;
    border-color: $inpBorderColorHover;
    }
    &:active, &:focus {
    background-color: $inpColorActFocus;
    color: $inpTextActFocus;
    text-decoration: none !important;
    border-color: $inpBorderColorActFocus;
    }
}


// NAVBAR
.main-navbar {
    background-color: $navbarColor;
    color: $navbarText;
}

.icon {
    color: $primaryLink;
    
    &:hover {
        color: $pLinkHover;
    }
    
    &:active {
        color: $pLinkActive;
    }
}

.sidebar {
    background-color: $sbColor;
    color: $sbText;
    
    a {
        color: $sbLinks;
        
        &:link, &:visited {
            color: $sbLinks;
        }
        
        &:hover {
            color: $sbLinksHover;
        }
        
        &:active {
            color: $sbLinksActive;
        }
    }
}

// THEME ACCENT

.theme-accent {
    background-color: $accentColor;
    color: $accentText;
    
    a {
        color: $accentLink !important;
        
        &:link, &:visited {
            color: $accentLink !important;
        }
        
        &:hover {
            color: $aLinkHover;
        }
        
        &:active {
            color: $aLinkActive;
        }
        
    }
}
