html,
body {
  color: #212121;
  background-color: #fafafa;
  font-size: 16px;
}

body {
  margin-top: 56px;
}

img {
  vertical-align: middle;
  display: inline;
}

header.main .title {
  padding: 50px 0;
  background-color: #4fc3f7;
}

header.main .tip {
  background-color: #03a9f4;
  padding: 16px 0
}

.container {
  position: relative;
  width: 100%;
  max-width: 960px;
  margin: 0 auto;
  padding: 0 1em;

  -webkit-box-sizig: border-box
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.container::after {
  content: "";
  display: table;
  clear: both;
}

main {
  margin: 50px 0;

  -webkit-box-sizig: border-box
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.footer.main {
  background-color: #333333;
  color: #fafafa;
  padding: 50px 0;

  -webkit-box-sizig: border-box
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.footer.main a {
  color: #4fc3f7;
}

.navbar.main {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  padding: 0 4px;

  height: 56px;
  line-height: 56px;

  background-color: #29b6f6;

  -webkit-box-sizig: border-box
  -moz-box-sizing: border-box;
  box-sizing: border-box;

  z-index: 5;

  -webkit-box-shadow: 0px 1px 5px 0px rgba(0,0,0,0.5);
  -moz-box-shadow: 0px 1px 5px 0px rgba(0,0,0,0.5);
  box-shadow: 0px 1px 5px 0px rgba(0,0,0,0.5);
}
.navbar.main::after {
  content: "";
  display: table;
  clear: both;
}

.navbar.main * {
  display: inline-block;
}

.navbar.main a {
  text-decoration: none
}

.navbar.main .icon {
  padding: 0 8px;
  cursor: pointer;
}

.sidebar {
  position: fixed;
  top: 56px;
  bottom: 0;
  width: 300px;
  background-color: #fafafa;
}

#sidebar-main {
  top: 56px;
}

.sidebar.right {
  right: -300px;
  text-align: right;
}

.sidebar.left {
  left: -300px;
}

.sidebar a {
  text-decoration: none;
}

.sidebar .wrapper {
  position: relative;
  height: 100%;
  width: 100%;
  padding: 1em;
  padding-top: 1.5em;
  overflow-y: auto;

  -webkit-box-sizig: border-box
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.sidebar nav {
  margin-bottom: 24px;
}

.sidebar nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0px;
}

.sidebar nav ul li {
  padding: 8px 0;
  margin: 4px 0;
}

.sidebar nav ul li.title {
  font-weight: bold;
}

.float-right {
  float: right;
}
.float-left {
  float: left;
}
