//MIXIN
@import 'web-fonts';
@import 'clearfix';
@import 'glyphicons';

@mixin border-radius($radius) {
	-webkit-border-radius: $radius;
	-moz-border-radius: $radius;
	-ms-border-radius: $radius;
	border-radius: $radius;
}
